<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        * {
            margin: 0;
            padding: 0
        }
        .first{
            color: red;
        }
    </style>
</head>
<body>

<h1>hello {{ lists }}</h1>
<h1>hello {{ lists.0 }}</h1>
<h1>hello {{ lists.1 }}</h1>

<h1>hello {{ dits }}</h1>
<h1>hello {{ dits.name }}</h1>
<h1>hello {{ dits.age }}</h1>

<h1>hello {{ c }}</h1>
<h1>hello {{ c.name }}</h1>
<h1>hello {{ c.age }}</h1>

<h1>{{ dits.age|add:10 }}</h1>
<h1>{{ test|capfirst }}</h1>
<h1>{{ test|cut:" " }}</h1>
<h1>{{ time|date:"Y-m-d" }}</h1>

<h1>{{ value5|default:"列表为空" }}</h1>
{#<h1>{{ value6 }}</h1>#}
{% autoescape off %}
<h1>{{ value6 }}</h1>
{% endautoescape %}

<h1>{{ value6|safe }}</h1>


{% if dits.age > 10 %}
    <h1>hello{{ dits.name }}的年龄大于18</h1>
{% else %}
    <h1>hello{{ dits.name }}的年龄小于18</h1>
{% endif %}


{% for name in lists %}
    <h1>{{ forloop.counter0 }}:{{ name }}</h1>
{% endfor %}

{% for name in lists %}
    {% if forloop.first %}
        <li class="first">
    {% else %}
        <li>
    {% endif %}
    {{ name }}
    </li>
{% empty %}
    <h1>没有相关的文章</h1>
{% endfor %}

<form action="{% url 'login' %}" method="post">
    <p>姓名 <input type="text" name="user" > </p>
    <p>密码 <input type="text" name="pwd"> </p>
    <p><input type="submit"></p>
    {% csrf_token %}
</form>

</body>
</html>